---
title: Web Shell Verification
created: '2021-07-02T14:04:16.367Z'
modified: '2021-07-02T14:05:19.164Z'
---

# Web Shell Verification

```
tcpdump -i tun0 icmp
```
```
ping -n 1 172.16.37.1
```
